body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: rgb(255, 186, 186);
  background: linear-gradient(343deg, rgba(255, 186, 186, 1) 0%, rgba(255, 139, 84, 1) 100%);
  height: 100vh;
  text-align: center;
}

footer {
  bottom: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 25rem;
  text-align: center;
}

.input_section > input {
  width: 100%;
  padding: 0.5rem 0.3rem;
  font-size: 25px;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px #333333;
}

.input_section > input:focus-visible {
  outline: none;
}

::placeholder {
  color: #3b3b3b;
}

.todo_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  cursor: pointer;
}

button {
  height: 3rem;
  font-size: x-large;
  padding: 0.5rem 1rem;
  border: 1px solid #333333;
  border-radius: 0.5rem;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

button:hover,
button:focus-visible {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  border: 2px solid #333333;
  background-color: rgba(208, 207, 207, 0.281);
}

.clear_btn {
  margin: 2rem;
}
